CONFIG_ROCKCHIP_EARLY_DISTRO_DTB=y
CONFIG_ROCKCHIP_EARLY_DISTRO_DTB_PATH="rk-kernel.dtb"
CONFIG_SPL_GPIO_SUPPORT=n
CONFIG_DM_PCA953X=y
CONFIG_LOG=y
CONFIG_SPL_LOG=y
CONFIG_LOGLEVEL=6
CONFIG_LOG_MAX_LEVEL=6
CONFIG_SPL_LOG_MAX_LEVEL=6
CONFIG_SPL_LOGLEVEL=6
CONFIG_LOG_CONSOLE=y
CONFIG_LOG_TEST=n
CONFIG_SYS_CONSOLE_INFO_QUIET=n